.web-image{
  display: inline block;
}

body {
  background: #323232;
  padding: 4%;
  border-width: 5px;
  border-style: solid;
  border-color: #fff;
  display: auto;
}

.mainheading {
  background: #003366;
  text-align: center;
}

h1 {
  color: #fff;
}

.subheading {
  background: #1b818d;
  text-align: center;
}

.content {
  background: #40e0d0;
}

.content-web {
  background: #40e0d0;
  display: inline block;
  margin-left: auto;
}
